table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }